<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Product kits", "/companies/products_kits/#{@company.id}" %> &#183;
  <%= link_to @products_kit.name, "/products_kits/#{@products_kit.id}" %>
</div>

<h1>
  Editing Product kit
</h1>

<%= render 'form' %>

<div class="button">
  <%= link_to 'Show', @products_kit %>
  <%= link_to 'Back', "/companies/products_kits/#{@company.id}" %>
</div>