<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("product_kit_48.png", :class => "vmiddle") %>
  Product kits
</h1>

<%= render "products_kits/list" %>

<br />

<div class="button">
  <%= link_to 'New Product Kit', "/products_kits/new/#{@company.id}" %>
</div>

<br />

<%= will_paginate @products_kits %>