<% if @invoice.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

    <ul>
    <% @invoice.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>

<div class="mid_box bordered_right">
  <%= form_for(@invoice) do |f| %>
    <h3>
      Invoice Information
    </h3>

    <div class="field">
      <label for="ac_customer" class="bold">Customer*</label><br />
      <input type="text" name="ac_customer" id="ac_customer" value="<% if @ac_customer %><%= @ac_customer %><% end %>" />
      
      <div class="small">
        <a href="#" onclick="createCustomerInvoice(); return false;">+ Create new customer</a>
      </div>

      <div class="small">
        Enter a search term to find a customer.
      </div>
      <br />

      <div class="small">
        <strong>Selected customer:</strong>
        <span id="selected_customer"><% if @ac_customer %><%= @ac_customer %><% else %><!-- i --><% end %></span>
      </div>
    </div>
    
    <div class="field">
      <%= f.label :code, "Code*", :class => "bold" %><br />
      <%= f.text_field :code, :onclick => "$(this).select();" %>
    </div>
  
    <div class="field">
      <%= f.label :location_id %><br />
      <%= f.select :location_id, @locations %>
    </div>
  
    <div class="field">
      <%= f.label :division_id %><br />
      <%= f.select :division_id, @divisions %>
    </div>
  
    <%= hr() %>
    
    <div class="field" id="list_items">
      <p class="bold big">Products:</p>
    </div>
    
    <%= hr() %>
  
    <div class="field">
      <%= f.check_box :processed %>
      <%= f.label :processed, "Process invoice", :class => "bold" %>
      <div class="small">
        Marks wether or not this invoice has been payed and we can deduct the product quantities and count it towards the month's total.
      </div>
    </div>
  
    <div class="field">
      <%= f.check_box :return %>
      <%= f.label :return, :class => "bold" %>
      <div class="small">
        Is it a return order?
      </div>
    </div>
    
    <%= hr() %>
    
    <div class="field">
      <label for="ac_user" class="bold">Seller*</label><br />
      <input type="text" name="ac_user" id="ac_user" value="<% if @ac_user %><%= @ac_user %><% end %>" />

      <div class="small">
        Enter a search term to find a user.
      </div>
      <br />

      <div class="small">
        <strong>Selected seller:</strong>
        <span id="selected_seller"><% if @ac_user %><%= @ac_user %><% else %><!-- i --><% end %></span>
      </div>
    </div>
  
    <%= hr() %>
  
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
  
    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments %>
    </div>
  
    <%= hr() %>
  
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @products_lines %><%= @products_lines %><% end %>" />
      <%= f.hidden_field :user_id, :id => "ac_user_id" %>
      <%= f.hidden_field :customer_id, :id => "ac_customer_id" %>
      <%= f.hidden_field :company_id %>
      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding products, don't forget to <strong><%= @action_txt %></strong> your invoice.
    </div>
  <% end %>
</div>

<div class="mid_box">
  <h3>
    Add Products to Invoice
  </h3>
  
  <form method="get" action="/products" onsubmit="addItemToInvoice(); return false;">
    <input type="hidden" name="ac_item_id" id="ac_item_id" value="" />
    
    <strong>Product:</strong><br />
    <input type="text" name="ac_item" id="ac_item" value="" />
    <div class="small">
      Enter a search term to find a product.
    </div>
    <br />
    
    <strong>Price:</strong><br />
    <input type="text" name="ac_item_price" id="ac_item_price" value="" class="tf_short" />
    <div class="small">
      Price of the product to add to the invoice.
    </div>
    <br />
    
    <strong>Quantity:</strong><br />
    <input type="text" name="ac_item_quantity" id="ac_item_quantity" value="1" class="tf_short" />
    <div class="small">
      Quantity of the product to add to the invoice.
    </div>
    <br />
    
    <strong>Discount %:</strong><br />
    <input type="text" name="ac_item_discount" id="ac_item_discount" value="0" class="tf_short" />
    <div class="small">
      Discount % of the product to add to the invoice.
    </div>
    <br />
    
    <div>
      <strong>Total:</strong><br />
      <span id="ac_item_total">$0.00</span>
    </div>
    
    <br />
    <input type="submit" value="Add product to invoice" />
  </form>
  
  <%= hr() %>
  
  <h3>
    Add Product Kit to Invoice
  </h3>
  
  <form method="get" action="/products_kits" onsubmit="addKitToInvoice(); return false;">
    <input type="hidden" name="ac_kit_id" id="ac_kit_id" value="" />
    
    <strong>Product kit:</strong><br />
    <input type="text" name="ac_kit" id="ac_kit" value="" />
    <div class="small">
      Enter a search term to find a product kit.
    </div>
    <br />
    
    <strong>Discount %:</strong><br />
    <input type="text" name="ac_kit_discount" id="ac_kit_discount" value="0" class="tf_short" />
    <div class="small">
      Discount % of the kit to add to the invoice.
    </div>
    <br />
    
    <input type="submit" value="Add product kit to invoice" />
  </form>
</div>

<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/invoices/ac_customers/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").val(data[2]);
      $("#selected_customer").html(data[0]);
    });
    
    $("#ac_kit").autocomplete("/invoices/ac_kit/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_kit").result(function(event, data, formatted) {
      $("#ac_kit_id").val(data[2]);
    });
    
    $("#ac_user").autocomplete("/invoices/ac_user/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_user").result(function(event, data, formatted) {
      $("#ac_user_id").val(data[2]);
      $("#selected_seller").html(data[0]);
    });
    
    $("#ac_item").autocomplete("/invoices/ac_products/<%= @company.id %>", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_item").result(function(event, data, formatted) {
      $("#ac_item_id").val(data[2]);
      $("#ac_item_price").val(data[4]);
      updateItemTotal();
    });
    
    $("#ac_item_quantity").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_price").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_discount").bind("keyup", function() {
      updateItemTotal();
    });
    
    <% if @products_lines %>
      listItemsInvoice();
    <% end %>
  });
</script>