<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Invoices", "/companies/invoices/#{@company.id}" %> &raquo;
  <%= link_to @invoice.identifier, @invoice %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Editing invoice
</h1>

<p>
  To modify the invoice, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<%= hr() %>

<div class="button">
  <%= link_to 'Show', @invoice %>
  <%= link_to 'Back', "/companies/invoices/#{@company.id}" %>
</div>