<h1>
  Users
</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.get_name %></td>
    <td><%= link_to user.email, 'mailto:' + user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.level %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @users %>

<br />

<div class="button">
  <%= link_to 'New User', new_user_path %>
</div>