<h1>
  <%= @user.username %>
</h1>

<% if @user.created_at %>
  <p>
    <strong>User since:</strong>
    <%= doDate(@user.created_at, 3) %>
  </p>
<% end %>

<% if @user.get_name %>
  <p>
    <strong>Name:</strong>
    <%= @user.get_name %>
  </p>
<% end %>

<% if(@is_admin) %>
  <p>
    <strong>ID:</strong>
    <%= @user.id %>
  </p>
  
  <p>
    <b>Email:</b>
    <%= link_to @user.email, 'mailto:' + @user.email %>
  </p>
  
  <div class="button">
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= link_to 'Back', users_path %>
  </div>
<% end %>