<% if @divisions.count > 0 %>
  <div class="divisions">
    <% for division in @divisions %>
      <div class="item">
        <div class="title">
          <%= link_to division.name, division %>
        </div>
        <div class="metadata">
          <%= link_to "View", division %> &#183;
          <%= link_to "Edit", edit_division_path(division) %> &#183;
          <%= link_to 'Delete', division, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="error">
    You don't have any divisions yet.  You can <%= link_to "add one", "/divisions/new/#{@company.id}" %>.
  </p>
<% end %>