<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %>
</div>

<h1>
  <%= image_tag("divisions_48.png", :class => "vmiddle") %>
  Divisions
</h1>

<%= render "divisions/list" %>

<br />

<div class="button">
  <%= link_to 'New Division', "/divisions/new/#{@company.id}" %>
</div>