<% if @products.count > 0 %>
  <table>
    <thead>
      <tr>
        <th class="bordered_right bordered_bottom" style="width: 250px;">
          Name
        </th>
        <th class="bordered_right bordered_bottom" style="width: 130px;">
          Code
        </th>
        <th class="bordered_right bordered_bottom">
          Category
        </th>
        <th class="bordered_right bordered_bottom">
          Supplier
        </th>
        <th class="bordered_right bordered_bottom">
          Quantity
        </th>
        <th class="bordered_right bordered_bottom">
          Reorder
        </th>
        <th class="bordered_right bordered_bottom">
          Cost
        </th>
        <th class="bordered_right bordered_bottom">
          Price
        </th>
        <th class="bordered_right bordered_bottom" colspan="3">
          Options
        </th>
      </tr>
    </thead>
    <tbody>
      <% for product in @products %>
        <tr>
          <td class="bordered_right bordered_bottom">
            <%= link_to product.name, product, :title => "Go to product" %>
          </td>
          <td class="bordered_right bordered_bottom">
            <% if product.code and product.code != "" %>
              <%= product.code %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
          <td class="bordered_right bordered_bottom">
            <% if product.category and product.category != "" %>
              <%= product.category %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
          <td class="bordered_right bordered_bottom">
            <% if product.supplier %>
              <%= link_to product.supplier.name, product.supplier, :title => "Go to supplier" %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
          <td class="bordered_right bordered_bottom right">
            <% if product.quantity %>
              <%= product.quantity %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
          <td class="bordered_right bordered_bottom right">
            <% if product.reorder %>
              <%= product.reorder %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
          <td class="bordered_right bordered_bottom right">
            $<%= money(product.cost) %>
          </td>
          <td class="bordered_right bordered_bottom right">
            $<%= money(product.price) %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "View", product %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to "Edit", edit_product_path(product) %>
          </td>
          <td class="bordered_right bordered_bottom">
            <%= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="error">
    We couldn't find any products.
  </p>
<% end %>