<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Products", "/companies/products/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("products_48.png", :class => "vmiddle") %>
  New product
</h1>

<p>
  To create a new product, please fill out the following form.  Fields marked with <strong>*</strong> are required.
</p>

<%= render 'form' %>

<div class="button">
  <%= link_to 'Back', "/companies/products/#{@company.id}" %>
</div>