<%= form_for(@products_category) do |f| %>
  <% if @products_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@products_category.errors.count, "error") %> prohibited this products_category from being saved:</h2>

      <ul>
      <% @products_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.hidden_field :company_id %>
    <%= f.submit %>
  </div>
<% end %>
