<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @products_category.company.name, @products_category.company %> &raquo;
  <%= link_to "Product categories", "/companies/products_categories/#{@products_category.company.id}" %>
</div>

<h1>
  <%= image_tag("product_category_48.png", :class => "vmiddle") %>
  <%= @products_category.category %>
</h1>

<br />

<div class="button">
  <%= link_to 'Edit', edit_products_category_path(@products_category) %>
  <%= link_to 'Back', "/companies/products_categories/#{@products_category.company.id}" %>
</div>