<h1>Listing company_users</h1>

<table>
  <tr>
    <th>Company</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_users.each do |company_user| %>
  <tr>
    <td><%= company_user.company_id %></td>
    <td><%= company_user.user_id %></td>
    <td><%= link_to 'Show', company_user %></td>
    <td><%= link_to 'Edit', edit_company_user_path(company_user) %></td>
    <td><%= link_to 'Destroy', company_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company user', new_company_user_path %>
