<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Monthly sellers report - <%= @month_name %> <%= @year %>
</h1>

<p class="big">
  Select the user to view his/her monthly sales report:
</p>

<% for user in @users %>
  <p>
    <%= link_to user.username, "/companies/reports/view_monthly_sellers/#{@company.id}/#{user.id}" %>
  </p>
<% end %>

<br />

<div class="button">
  <%= link_to "Back", "/companies/reports/#{@company.id}" %>
</div>