<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;
  <%= link_to @company.name, @company %> &raquo;
  <%= link_to "Reports", "/companies/reports/#{@company.id}" %>
</div>

<h1>
  <%= image_tag("reports_48.png", :class => "vmiddle") %>
  Monthly divisions report - <%= @month_name %> <%= @year %>
</h1>

<p class="big">
  Select the division to view its monthly sales report:
</p>

<% for division in @divisions %>
  <p>
    <%= link_to division.name, "/companies/reports/view_monthly_divisions/#{@company.id}/#{division.id}" %>
  </p>
<% end %>

<br />

<div class="button">
  <%= link_to "Back", "/companies/reports/#{@company.id}" %>
</div>